@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="display: flex; justify-content: center; flex-direction: column; align-items: center; margin-top: 40px;">
 @*   <h1 class="display-4" style="width: 100%; text-align: center; font-size: 3rem; font-family: 'Georgia', serif; color: #4A4A4A;">
</h1>
 *@
    <p style="max-width: 1000px; font-size: 1.2rem; text-align: center; margin-top: 15px; color: #6D6D6D; background-color: rgba(255, 255, 255, 0.5); padding: 20px; border-radius: 10px;">
        <strong><strong>Welcome to the World of Events</strong></strong>  <br />
        Discover and manage unforgettable events with ease! Whether you're an event enthusiast, a planner, or just looking for something exciting to attend, our event management website has something for everyone. Explore a diverse range of events, from concerts and festivals to corporate gatherings and community celebrations. Find popular happenings, discover hidden local gems, and get inspired to create your own unique experience. Dive into a world of possibilities and make your next event one to remember!
    </p>
</div>


<div class="image-gallery" style="display: flex; justify-content: center; gap: 20px; margin-top: 40px;">
    <img src="https://images.unsplash.com/photo-1719937050814-72892488f741?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxzZWFyY2h8MXx8YWN0aXZpdGllc3xlbnwwfHwwfHx8MA%3D%3D"
         alt="Book Store 1" style="width: 250px; height: 250px; object-fit: cover; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" />
    <img src="https://images.unsplash.com/photo-1644633539216-f0042ac2d839?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGFjdGl2aXRpZXN8ZW58MHx8MHx8fDA%3D"
         alt="Young Man Shopping Books" style="width: 250px; height: 250px; object-fit: cover; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" />
    <img src="https://images.unsplash.com/photo-1656261523733-968bcf9cf01c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGFjdGl2aXRpZXN8ZW58MHx8MHx8fDA%3D"
         alt="Books on Table" style="width: 250px; height: 250px; object-fit: cover; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" />
    <img src="https://images.unsplash.com/photo-1660463531143-03e67b7113bc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fGFjdGl2aXRpZXN8ZW58MHx8MHx8fDA%3D"
         alt="Hand Picking Book" style="width: 250px; height: 250px; object-fit: cover; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" />
</div>

<div class="text-center" style="margin-top: 40px;">
    <a href="/Account/Login" class="btn btn-primary" style="padding: 15px 30px; font-size: 1.1rem; border-radius: 25px;">
        Browse Our Collection
    </a>
</div>
